<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :song_artist_name %>
  <%= f.text_field :song_artist_name, id:"song_artist_name" %>

<%= collection_select(:song, :genre_id, @genres, :id, :name) %>
  <br />

<%= f.text_field :song_notes_1, id: "song_notes_1" %>
<%= f.text_field :song_notes_2, id: "song_notes_2" %>

  <%= f.submit %>
<% end %>


